h1,h2 {
    color: #FF0000;
}

.candidate-title {
    color:#024702;
}

.welcome-message {
    color: white;
}

.auth-message {
    color:white;
}

.homepage {
    background:
            linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.4)),
            url("banner.jpg")
            center / cover;
    padding: 10px;
    height: 90vh;
    color: blue;
}

.homepage h1 {
    color: blue;
}

.my-input {
    width: 150px !important;
}

.form-control {
    width: 150px;
}

