<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Info about workers</title>
</head>
<body>
<div>Info about workers</div>
<ul>
    <li>Login : {{ worker.user.username }}</li>
    <li>Имя: {{ worker.name }}</li>
    <li>Специализация : {{ worker.specialization }}</li>
    <li>Ожидаемая з/п : {{ worker.expected_salary }}</li>
    <li>Открыт для пред : {{ worker.is_searching }}</li>
</ul>

    <h2>Интересующие вакансии:</h2>
    {% for v in worker.vacancy_set.all %}
        <div>{{ v.title }}</div>
    {% endfor %}

</body>
</html>