<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/">Домой</a> |
        <a href="/vacancies">Вакансии</a> |
        <a href="/add-vacancy">Добавить вакансию</a> |
        <a href="{% url 'add-vacancy-df' %}">Добавить вакансию (dj form)</a> |
        <a href="/workers">Кандидаты</a> |
        <a href="/about">АНАНАС!</a> |
        <a href="/resume-list">Все Резюме</a> |
        {% if request.user.is_superuser %}
        <a href="{% url 'add-company' %}">Создать компанию</a> |
        <a href="{% url 'company-list' %}">Список компаний</a> |
        {% endif %}
         {% if request.user.is_authenticated %}
        <a href="{% url 'my-resume' %}">Мои Резюме</a> |
        <a href="{% url 'add-resume' %}">Добавить резюме</a> |
        <a href="{% url 'add-resume-django' %}">Добавить резюме через django</a> |
            Привет, {{ request.user.username }}!
        {% else %}
            <a href="{% url 'reg' %}">Регистрация</a>
            Пожалуйста, авторизуйтесь
        {% endif %}
        </nav>
        <div>
            <br>
            <form method="GET" action="/search">
                    <input
                        type="text"
                        placeholder="Ключевое слово"
                        name="keyword">
                <button>Поиск</button>
            </form>
        </div>
        <hr>


    {% block content %}
    {% endblock %}
    <br>
    <footer>
        <hr>
        88005355<br/>
        Адрес: Бишкек, 7 м-н
    </footer>
</body>
</html>