<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Поиск работы и работников</h1>
    <div>
        <p><a href="vacancies">Вакансии</a></p>
        <p><a href="companies">Компании</a></p>
        <p><a href="workers">Работники</a></p>
    </div>
</body>
</html>