{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}


{% block my_title %}
Вакансии мечты
{% endblock %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}

<div class="container">
    <h1>Вакансии</h1>
    {{ example }}
    <hr>

    <div class="row">
        <div class="col-lg-2">
            <form method="GET">
                {{ vacancy_filter.form.as_p }}
                <input type="submit"/>
            </form>
        </div>
        <div class="col-lg-10">
            {% for v in vacancy_filter.qs %}
            <a href="/vacancy/{{ v.id }}">{{ v.title }}</a>
            <div>
                {{ v.title }} - {{ v.salary }} - {{ v.experience }} - {{ v.get_employment_type_display }} -
                {% for skill in v.skill_name.all %}
                    {{ skill.skill_name }}
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}